@import './font.scss';
@import './color.scss';
@import './transition.scss';
body {
    overflow: hidden;
    /* Hide scrollbars */
}

.h-100 {
    height: 100%;
}

.h-100 {
    height: 50%;
}

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.w-25 {
    width: 25%;
}

.pointer {
    cursor: pointer;
}

.pointer:hover {
    opacity: 0.8;
}