	.down-enter-from {
	    opacity: 0;
	    transform: translateY(180px);
	}
	
	.down-leave-to {
	    opacity: 0;
	    transform: translateY(-180px);
	}
	
	.down-enter-to,
	.down-leave-from {
	    opacity: 1;
	    transform: translateY(0);
	}
	
	.down-enter-active {
	    transition: all 0.8s;
	}
	
	.down-leave-active {
	    transition: all 0.2s;
	}
	
	.up-enter-from {
	    opacity: 0;
	    transform: translateY(-180px);
	}
	
	.up-leave-to {
	    opacity: 0;
	    transform: translateY(180px);
	}
	
	.up-enter-to,
	.up-leave-from {
	    opacity: 1;
	    transform: translateY(0);
	}
	
	.up-enter-active {
	    transition: all 0.8s;
	}
	
	.up-leave-active {
	    transition: all 0.2s;
	}
	
	.ease-enter-from,
	.ease-leave-to {
	    opacity: 0;
	}
	
	.ease-enter-to,
	.ease-leave-from {
	    opacity: 1;
	}
	
	.ease-enter-active {
	    transition: all 0.2s ease;
	}
	
	.ease-leave-active {
	    transition: all 0.2s ease;
	}